.title {
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1.68rem 0;
}

.primary-color {
  color: #23272a;
}

.secondary-color {
  color: #fff;
}

.primary-bg-color {
  background-color: #23272a;
}
.secondary-bg-color {
  background-color: #f6f6f6;
}

.primary-button,
.secondary-button {
  display: inline-block;
  text-align: center;
  border-radius: 28px;
  padding: 16px 0;
  width: 100%;
}

.primary-button {
  background-color: #fff;
  color: #23272a;
}

.secondary-button {
  background-color: #23272a;
  color: #fff;
}

section,
footer {
  padding: 40px 24px;
}
